.container{
	width:1200px;
	margin:auto;
	background:
}
.header .navbar{
background-color:#252f31 ;
		color:#FFF;
		
}
.header .navbar ul {
		list-style:none;
		padding-left:0;
		overflow:hidden;
}
ul li:hover{

  background:#666;

}
ul li:hover:before{

  background:#666;

}
.header .navbar ul li{
        float : right;
		padding:10px;
}

body
{
    background-attachment:fixed;background-position:center;

    }